.services{
    
    /*background-color: #DCDCDC; */
    border-radius: 10px;
}

.heading2{
    font-size: clamp(20px, 2.5vw, 50px);
    background-color: #54B435;
    /* font-weight:bold; */
}

.heading3{
    font-size: clamp(5px, 2vw, 18px);
    
}


.gridList1{
    margin:10px;
    border-radius: 10px;
    height: auto;
    border-bottom: 5px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    
    
}

.gridList2{
    margin:10px;
    border-radius: 10px;
    height: auto;
    background-color: black;
    color: white;
}

.search{
    width: 50%;
    height: auto;
}

.box1{
    width: 60%;
}

.box2{
    width: 40%;
}