.services{
    
    background-color: #DCDCDC; 
    border-radius: 10px;
}

.heading2{
    font-size: clamp(20px, 2.5vw, 50px);
    background-color: #54B435;
    /* font-weight:bold; */
}

.heading3{
    font-size: clamp(5px, 2vw, 18px);
    
}
.serviceGrid{

}
.serviceGrid1w{
    background-color: white;
    
    border-radius: 10px;
}
.serviceGrid1b{
    background-color: black;
    
    border-radius: 10px;
}

.text{
    width: 50%
}
.photo{
    width: 50%;
}