.home{
    /* height: 82vh; */
    /* background-color: #DCDCDC; */
    border-radius: 10px;
}

.heading{
    font-size: clamp(25px, 4vw, 75px);
    font-weight:bold;
}

.heading1{
    font-size: clamp(5px, 2vw, 20px);
}

.box1btn{
    background-color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.btn{
    
   
    color: white;
    padding:8px;
    border-radius: 10px;
    font-size: clamp(5px, 2vw, 15px);
}

.imageHome{
    width: 75%;
}
